<!DOCTYPE HTML>
<html>
 <head>
  <title> 资源文件结构</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
       <link href="/assets/css/bs3/dpl-min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/bs3/bui-min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/page-min.css" rel="stylesheet" type="text/css" />   <!-- 下面的样式，仅是为了显示代码，而不应该在项目中使用-->
   <link href="/assets/css/prettify.css" rel="stylesheet" type="text/css" />
   <link href="/assets/css/hqtec.css" rel="stylesheet"> 
   <style type="text/css">
    code {
      padding: 0px 4px;
      color: #d14;
      background-color: #f7f7f9;
      border: 1px solid #e1e1e8;
    }
   </style>
 </head>
 <body>
  
  <div class="container">
    <div class="row">
      <form id="J_Form" class="form-horizontal span24" action='/culture/collection/collection' method='put'>
        <div class="row">
          <div class="control-group span8">
            <label class="control-label"><s>*</s>名称：</label>
            <div class="controls">
              <input name="TITLE" type="text" data-rules="{required:true}" class="input-normal control-text" value="{$collection.title}">
            </div>
          </div>
  
        </div>
        <div class="row">
					<div class="control-group span8">
						<label class="control-label"><s>*</s>类型：</label>
						<div class="controls">
							<select data-rules="{required:true}" name="TYPE" id="TYPE"
								class="input-normal">
								<option value="">请选择</option>
								<option value="1" <if condition="$collection.type eq 1 ">selected</if>>资讯</option>
								<option value="2" <if condition="$collection.type eq 2 ">selected</if>>文化</option>
							</select>
						</div>
					</div>
				</div>
        
	
      
    
		<div class="row">
					<label class="control-label control-image">图片url：</label>
					<div class="control-group span12">	
						<div id="J_Uploader">
						<input type="hidden" name='THUMB' value="{$collection.thumb}" id='THUMB'>
						</div>
					</div>
				</div>

				<div class="row">
					<label class="control-label control-image">多图：</label>
					<div class="control-group span12">
						<div id="J_Uploader2">
							<input type="hidden" name='THUMB' value="{$collection.many_image}" id='THUMB'>
						</div>
					</div>


				</div>

				
  		     <div class="row"   >
        <div class="control-group span24">
          <label class="control-label">内容：</label>
         <div class="controls" style='height: auto;margin-bottom: 15px;'>
       		 <script id="editor" name="CONTENT" type="text/plain" style="width:700px;height:250px;">{$collection.content}</script>
		</div>
        </div>
    </div>  
        <input type="hidden" name="ID" value="{$collection.id}"/>
  
      <div class="row"></div>
                 <div class="row">
              <div class="form-actions offset3">
                <button type="submit" class="button button-save">保存</button>
               
              </div>
            </div>
      </form>
    </div>
    

  </div>
  <script type="text/javascript" src="/assets/js/jquery-1.8.1.min.js?{$js_version}"></script>
  <script type="text/javascript" src="/assets/js/bui-min.js?{$js_version}"></script>

  <script type="text/javascript" src="/assets/js/config-min.js?{$js_version}"></script>
  <script type="text/javascript">
    BUI.use('common/page');
  </script>
  <!-- 仅仅为了显示代码使用，不要在项目中引入使用-->
  <script type="text/javascript" src="/assets/js/prettify.js?{$js_version}"></script>
  <script type="text/javascript">
    $(function () {
      prettyPrint();
    });
  </script> 
    <script type="text/javascript">
      BUI.use('bui/form',function(Form){
          new Form.HForm({
        srcNode : '#J_Form',
        submitType : 'ajax',
        callback : function(data){
          if(data.status==1){
        	 
        	  BUI.Message.Alert('编辑成功',function(){
        		  window.location.href=data.url;
        	  },'success');
        	 
        	  
          }
        }
      }).render();
      });
    </script>

        <script type="text/javascript">
        BUI.use('bui/uploader',function (Uploader) {
          
      /**
       * 返回数据的格式
       *
       *  默认是 {url : 'url'},否则认为上传失败
       *  可以通过isSuccess 更改判定成功失败的结构
       */
       
       //添加自定义主题
       Uploader.Theme.addTheme('imageView', {
         elCls: 'imageViewTheme',
         //可以设定该主题统一的上传路径
        // url: '../../../test/upload/upload.php',
       
         queue:{
           //结果的模板，可以根据不同状态进进行设置
           resultTpl: {
             'default': '<div class="default">{name}</div>',
             'success': '<div class="success"><img src="/upload/{file}" /></div>',
             'error': '<div class="error"><span class="uploader-error">{msg}</span></div>',
             'progress': '<div class="progress"><div class="bar" style="width:{loadedPercent}%"></div></div>'
           }
         }
       });
      var uploader = new Uploader.Uploader({
    	 theme: 'imageView',
        render: '#J_Uploader',
        url : 'http://{$httphost}/index.php/Gis/admin/upload/',
        //可以直接在这里直接设置成功的回调
        success: function(result){
        },
        isSuccess : function(result){
        	
            if(result.status){
                return true;
              }
              return false;
        },
        //失败的回调
        error: function(result){
        },
    	rules: {
	          //文的类型
	          ext: ['.png,.jpg','文件类型只能为{0}'],
	          //上传的最大个数
	          max: [1, '文件的最大个数不能超过{0}个'],
	          //文件大小的最小值,这个单位是kb
	          minSize: [10, '文件的大小不能小于{0}KB'],
	          //文件大小的最大值,单位也是kb
	          maxSize: [1024, '文件大小不能大于1M']
	        }
      }).render();
 
      //上传成功时会触发
      uploader.on('success', function(ev){
        var result = ev.result;
        $("#THUMB").val(result.file);
       
        
      })
 
      //上传成功时会触发
      uploader.on('error', function(ev){
        var result = ev.result;
        
        BUI.Message.Alert('上传失败','success');
      });
      
		 //获取上传文件的对列
      var queue = uploader.get('queue');
      //设置文件的回显
	var name = '{$collection.thumb}';
	var item;
	if(name){
		item = [{success: true, name: name, ext:'.jpg', file:name}]
	}else{
		item = '';
	}

      queue.setItems(item);
    });
        
        var file = [];
		BUI
				.use(
						'bui/uploader',
						function(Uploader) {

							//添加自定义主题
							Uploader.Theme
									.addTheme(
											'imageView',
											{
												elCls : 'imageViewTheme',
												//可以设定该主题统一的上传路径
												// url: '../../../test/upload/upload.php',

												queue : {
													//结果的模板，可以根据不同状态进进行设置
													resultTpl : {
														'default' : '<div class="default">{name}</div>',
														'success' : '<div class="success"><img src="/upload/{file}" /><input type="hidden" name="MANY_IMAGE[]" value="{file}"/></div>',
														'error' : '<div class="error"><span class="uploader-error">{msg}</span></div>',
														'progress' : '<div class="progress"><div class="bar" style="width:{loadedPercent}%"></div></div>'
													}
												}
											});

							/**
							 * 返回数据的格式
							 *
							 *  默认是 {url : 'url'},否则认为上传失败
							 *  可以通过isSuccess 更改判定成功失败的结构
							 */
							var uploader = new Uploader.Uploader({
								theme : 'imageView',
								render : '#J_Uploader2',
								// url : '/index.php/Panorama/admin/upload/',
								url : 'http://{$httphost}/index.php/Gis/admin/upload/',
								//可以直接在这里直接设置成功的回调
								success : function(result) {
								},
								isSuccess : function(result) {

									if (result.status) {
										return true;
									}
									return false;
								},
								//失败的回调
								error : function(result) {
								},
								rules : {
									//文的类型
									ext : [ '.png,.jpg', '文件类型只能为{0}' ],
									//上传的最大个数
									max : [ 5, '文件的最大个数不能超过{0}个' ],
									//文件大小的最小值,这个单位是kb
									minSize : [ 10, '文件的大小不能小于{0}KB' ],
									//文件大小的最大值,单位也是kb
									maxSize : [ 1024, '文件大小不能大于1M' ]
								}
							}).render();

							//上传成功时会触发
							uploader.on('success', function(ev) {
								var result = ev.result;
								file.push(result.file);

							})

							//上传成功时会触发
							uploader.on('error', function(ev) {
								var result = ev.result;
								
								BUI.Message.Alert('上传失败','error');
							});
							
							//获取上传文件的对列
							var queue = uploader.get('queue');
							//设置文件的回显
							var l;
							if({$collection.many_image})
								{
								l = {$collection.many_image};
								}
								var ls = [],obj;
							for (var i in l)
								{
									obj= {
											success : true,
											name : l[i],
											ext : '.jpg',
											file : l[i]
									}
									ls.push(obj);
								}
							queue.setItems(ls);
						});
    </script>
    <script type="text/javascript" charset="utf-8"
		src="/ueditor/ueditor.config.js?{$js_version}"></script>
	<script type="text/javascript" charset="utf-8"
		src="/ueditor/ueditor.all.min.js?{$js_version}">
		
	</script>
    
    <script type="text/javascript">
		//实例化编辑器
		//建议使用工厂方法getEditor创建和引用编辑器实例，如果在某个闭包下引用该编辑器，直接调用UE.getEditor('editor')就能拿到相关的实例
	var ue = UE.getEditor('editor', {
			//这里可以选择自己需要的工具按钮名称,此处仅选择如下五个
		toolbars: [
    [
        'anchor', //锚点
        'undo', //撤销
        'redo', //重做
        'bold', //加粗
        'indent', //首行缩进
       // 'snapscreen', //截图
        'italic', //斜体
      //  'underline', //下划线
        //'strikethrough', //删除线
        'subscript', //下标
        'fontborder', //字符边框
      //  'superscript', //上标
        'formatmatch', //格式刷
        'source', //源代码
        'blockquote', //引用
        'pasteplain', //纯文本粘贴模式
        'selectall', //全选
      //  'print', //打印
      //  'preview', //预览
        'horizontal', //分隔线
       // 'removeformat', //清除格式
        'time', //时间
        'date', //日期
        'unlink', //取消链接
       // 'insertrow', //前插入行
       // 'insertcol', //前插入列
     //   'mergeright', //右合并单元格
      //  'mergedown', //下合并单元格
        //'deleterow', //删除行
       // 'deletecol', //删除列
       // 'splittorows', //拆分成行
      //  'splittocols', //拆分成列
      //  'splittocells', //完全拆分单元格
     //   'deletecaption', //删除表格标题
        'inserttitle', //插入标题
      //  'mergecells', //合并多个单元格
       // 'deletetable', //删除表格
        'cleardoc', //清空文档
       // 'insertparagraphbeforetable', //"表格前插入行"
       // 'insertcode', //代码语言
        'fontfamily', //字体
        'fontsize', //字号
        'paragraph', //段落格式
       // 'simpleupload', //单图上传
      //  'insertimage', //多图上传
      //  'edittable', //表格属性
      //  'edittd', //单元格属性
        'link', //超链接
       // 'emotion', //表情
        //'spechars', //特殊字符
       // 'searchreplace', //查询替换
      //  'map', //Baidu地图
       // 'gmap', //Google地图
      //  'insertvideo', //视频
      //  'help', //帮助
        'justifyleft', //居左对齐
        'justifyright', //居右对齐
        'justifycenter', //居中对齐
        'justifyjustify', //两端对齐
        'forecolor', //字体颜色
        'backcolor', //背景色
        'insertorderedlist', //有序列表
        'insertunorderedlist', //无序列表
       // 'fullscreen', //全屏
        'directionalityltr', //从左向右输入
        'directionalityrtl', //从右向左输入
        'rowspacingtop', //段前距
        'rowspacingbottom', //段后距
        'pagebreak', //分页
      //  'insertframe', //插入Iframe
      //  'imagenone', //默认
        'imageleft', //左浮动
        'imageright', //右浮动
        'attachment', //附件
        'imagecenter', //居中
       // 'wordimage', //图片转存
        'lineheight', //行间距
       // 'edittip ', //编辑提示
        'customstyle', //自定义标题
        'autotypeset', //自动排版
       // 'webapp', //百度应用
      //  'touppercase', //字母大写
      //  'tolowercase', //字母小写
       // 'background', //背景
      //  'template', //模板
       // 'scrawl', //涂鸦
      //  'music', //音乐
      //  'inserttable', //插入表格
     /*    'drafts', // 从草稿箱加载
        'charts', // 图 */
    ]
]
    });

	</script>
</body>
</html> 