Application/Common/Conf/system.php
Application/Common/Conf/db.php
Application/Common/Conf/config.php
.*
Runtime/*
!.htaccess
!.gitignore
logs/*
Public/install.lock
.idea/*
exe/*.log
Public/pano/*
Public/upload/*
Databackup/*
**/node_modules/
Databackup
Public/click.lock
/Runtime
/Public/click.data
