<!DOCTYPE HTML>
<html>
 <head>
  <title> 搜索表单</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="/assets/css/bs3/dpl-min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/bs3/bui-min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/page-min.css" rel="stylesheet" type="text/css" />
 </head>
 <body>
  
  <div class="container">
 
   
 
    <div class="search-grid-container">
      <div id="grid"></div>
    </div>
  </div>
  <script type="text/javascript" src="/assets/js/jquery-1.8.1.min.js?{$js_version}"></script>
  <script type="text/javascript" src="/assets/js/bui-min.js?{$js_version}"></script>
  <script type="text/javascript" src="/assets/js/config-min.js?{$js_version}"></script>
<script type="text/javascript">
  var storeHref;
  var hasPoi = "{$hasPoi}";
  if (hasPoi === "1"){
    storeHref = '/Panorama/admin/cate.json?poi_id='+"{$poi}";
  }else{
    storeHref = '/Panorama/admin/cate.json';
  }
  BUI.use(['common/search','common/page'],function (Search,Page) {
    
      columns = [
          {title:'编号',dataIndex:'id',width:100},
          {title:'poi',dataIndex:'bname',width:100},
          {title:'分组名称',dataIndex:'name',width:100},
          {title:'顺序',dataIndex:'listorder',width:60},
        
          {title:'操作',dataIndex:'',width:200,renderer : function(value,obj){
           /*  var editStr =  Search.createLink({ //链接使用 此方式
                id : 'edit' + obj.id,
                title : '编辑cate信息',
                text : '编辑',
                href : '/Panorama/admin/cate_edit/id/'+obj.id
              }), */
              var href='/Panorama/admin/cate_update/id/'+obj.id;
              editStr = '<span class="grid-command" title="编辑"><a href="'+href+'">编辑</a></span>';//页面操作不需要使用Search.createLink
              delStr = '<span class="grid-command btn-del" title="删除">删除</span>';//页面操作不需要使用Search.createLink
            return editStr + delStr;
          }}
        ],
      store = Search.createStore(storeHref),
      gridCfg = Search.createGridCfg(columns,{
        tbar : {
          items : [
            {text : '<i class="icon-plus"></i>新建',btnCls : 'button button-small',handler:function(){window.location.href='/Panorama/admin/cate_add/id/'+"{$poi}";}},
            {text : '<i class="icon-share-alt"></i>返回',btnCls : 'button button-small',handler:function(){window.location.href='/Gis/admin/poi';}}, 
           
          ]
        },
        plugins : [BUI.Grid.Plugins.CheckSelection] // 插件形式引入多选表格
      });
 
    var  search = new Search({
        store : store,
        gridCfg : gridCfg
      }),
      grid = search.get('grid');
    //删除操作
    function delFunction(){
      var selections = grid.getSelection();
      delItems(selections);
    }
 
    function delItems(items){
      var ids = [];
      BUI.each(items,function(item){
        ids.push(item.id);
      });
 
      if(ids.length){
        BUI.Message.Confirm('确认要删除选中的记录么？',function(){
          $.ajax({
            url : '/Panorama/admin/cate',
            dataType : 'json',
            type:'delete',
            data : {ids : ids},
            success : function(data){
              if(data.success){ //删除成功
                search.load();
              }else{ //删除失败
                BUI.Message.Alert('删除失败！');
              }
            }
        });
        },'question');
      }
    }
 
    //监听事件，删除一条记录
    grid.on('cellclick',function(ev){
      var sender = $(ev.domTarget); //点击的Dom
      if(sender.hasClass('btn-del')){
        var record = ev.record;
        delItems([record]);
      }
    });
  });
</script>
 
</body>
</html>  

