<div class="row upload_container">
<ul class="nav-tabs">
    <li rel = "0" class="active" ><a href="#" >上传本地文件</a></li>
    <li rel = "1"><a href="#" >选择ftp文件</a></li>
</ul>
<div class="upload_box span-width span16" style="height:400px;" id="local_box">
    <div class="span16 container">
        <div id="uploader" class="span6"></div><span class="span6">上传文件格式必须为.JPG格式</span>
    </div>
    <div class="span16" ><ul id="imageList"></ul></div>
</div>
<div class="upload_box span-width span16" style="height:50px;display: none;" id="ftp_box">
    <p>ftp文件列表</p>
</div>
</div>