<!DOCTYPE HTML>
<html>
<head>
	<title>资源文件结构</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link href="/assets/css/bs3/dpl-min.css" rel="stylesheet" type="text/css" />
	<link href="/assets/css/bs3/bui-min.css" rel="stylesheet" type="text/css" />
	<link href="/assets/css/page-min.css" rel="stylesheet" type="text/css" />
	<!-- 下面的样式，仅是为了显示代码，而不应该在项目中使用-->
	<link href="/assets/css/prettify.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/hqtec.css" rel="stylesheet"> 
	<style type="text/css">
		code {
			padding: 0px 4px;
			color: #d14;
			background-color: #f7f7f9;
			border: 1px solid #e1e1e8;
		}
	</style>
</head>
<body>

	<div class="container">
		<div class="row">
			<form id="J_Form" class="form-horizontal span24"
			action='/Way/admin/index' method='put'>
			<div class="row">
				<div class="control-group span15">
					<label class="control-label"><s>*</s>路线名称：</label>
					<div class="controls">
						<input name="TITLE" type="text" data-rules="{required:true}"
						class="input-change" value="{$way.title}">
					</div>
				</div>
				
			</div>



			<div class="row">
				<label class="control-label control-image">图片：</label>
				<div class="control-group span12">
					<div id="J_Uploader2" >
						<input type='hidden' id='IMAGE_URI' name='IMAGE_URI' value='{$way.image_uri}'>

					</div>
				</div>
			</div>

			<div class="row">
				<div class="control-group span15">
					<label class="control-label">排序:</label>
					<div class="controls">
						<input name="LISTORDER" type="text"
						class="input-change" value="{$way.listorder}">
					</div>
				</div>
			</div>

			<div class="row">
				<div class="control-group span15">
					<label class="control-label">所属标签:</label>
					<div class="controls">
                        <volist name="way_tags" key="k" id="vo" >
                            <label><input name="tags[]" {:in_array($k,$tags)?'checked="true"':''} id="Tag_{$k}" type="checkbox" value="{$k}">{$vo}</label>
                        </volist>

					</div>
				</div>
			</div>
			
						<div class="row">
				<div class="control-group span15">
					<label class="control-label">是否推荐</label>
					<div class="controls">
                   是<input type="radio" value="1" name="TYPE"  <if condition="$way.type eq '1'">checked</if>/>
                   否<input type="radio" value="2" name="TYPE"   <if condition="$way.type eq  '2'">checked</if> />

					</div>
				</div>
			</div>

			<div class="row">
				<div class="control-group span15">
					<label class="control-label">内容：</label>
					<div class="controls control-row4">
						<textarea name="INTRODUCTION" class="input-large" style="resize: none;height:60px;" data-tip="{text:'请填写描述信息！'}" type="text">{$way.introduction}</textarea>
					</div>
				</div>
			</div>


			<div class="row">
				<div class="form-actions offset3">
					<button type="submit" class="button button-save">保存</button>
					
				</div>
			</div>
			<input type="hidden" name="ID" value="{$way.id}">
		</form>
	</div>


</div>
<script type="text/javascript" src="/assets/js/jquery-1.8.1.min.js?{$js_version}"></script>
<script type="text/javascript" src="/assets/js/bui-min.js?{$js_version}"></script>

<script type="text/javascript" src="/assets/js/config-min.js?{$js_version}"></script>
<script type="text/javascript">
	BUI.use('common/page');
</script>
<!-- 仅仅为了显示代码使用，不要在项目中引入使用-->
<script type="text/javascript" src="/assets/js/prettify.js?{$js_version}"></script>
<script type="text/javascript">
	$(function() {
		prettyPrint();
	});
</script>
<script type="text/javascript">
	BUI.use('bui/form', function(Form) {
		new Form.HForm({
			srcNode : '#J_Form',
			submitType : 'ajax',
			callback : function(data) {
				if (data.status == 1) {
					
					BUI.Message.Alert('编辑成功',function(){
						window.location.href = data.url;
					},'success');

				} else {
					BUI.Message.Alert('编辑失败',function(){
						window.location.href = data.url;
					},'error');
				}
				
			}
		}).render();

	});
</script>

<script type="text/javascript">
	BUI
	.use(
		'bui/uploader',
		function(Uploader) {

							/**
							 * 返回数据的格式
							 *
							 *  默认是 {url : 'url'},否则认为上传失败
							 *  可以通过isSuccess 更改判定成功失败的结构
							 */
							  //添加自定义主题
							  Uploader.Theme.addTheme('imageView', {
							  	elCls: 'imageViewTheme',
						        //可以设定该主题统一的上传路径
						       // url: '../../../test/upload/upload.php',
						      
						       queue:{
						          //结果的模板，可以根据不同状态进进行设置
						          resultTpl: {
						          	'default': '<div class="default">{name}</div>',
						          	'success': '<div class="success"><img style="width: 100%;height: 100%;" src="/upload/{file}" /></div>',
						          	'error': '<div class="error"><span class="uploader-error">{msg}</span></div>',
						          	'progress': '<div class="progress"><div class="bar" style="width:{loadedPercent}%"></div></div>'
						          },  listeners : {
						         	  itemremoved: function(ev){         		  
						  		    	 
						 		    	  $("#IMAGE_URI").val('');
						 		      }           
						             }
						      }
						  });
							  var uploader = new Uploader.Uploader(
							  	{   theme: 'imageView',
							  	render : '#J_Uploader2',
							  	 url : 'http://{$httphost}/index.php/Gis/admin/upload/',
										//可以直接在这里直接设置成功的回调
										success : function(result) {
										},
										isSuccess : function(result) {

											if (result.status) {
												return true;
											}
											return false;
										},
										//失败的回调
										error : function(result) {
										},
										rules: {
									          //文的类型
									          ext: ['.png,.jpg','文件类型只能为{0}'],
									          //上传的最大个数
									          max: [1, '文件的最大个数不能超过{0}个'],
									          //文件大小的最小值,这个单位是kb
									          minSize: [10, '文件的大小不能小于{0}KB'],
									          //文件大小的最大值,单位也是kb
									          maxSize: [1024, '文件大小不能大于1M']
									      }

									  }).render();

							//上传成功时会触发
							uploader.on('success', function(ev) {
								var result = ev.result;
								$("#IMAGE_URI").val(result.file);

							})
            //上传文件改变时
            uploader.on('change', function (ev) {
                var items = ev.items;
                var queue=uploader.get('queue');
                for (var i in items) {
                    if (items[i].error == true) {
                        queue.clearItems();
                        BUI.Message.Alert(items[i].name + items[i].msg,'error');
                    }else{
                        queue.setItems([items[i]]);
                    }
                }
            })
							//上传失败时会触发
							uploader.on('error', function(ev) {
								var result = ev.result;
								BUI.Message.Alert('上传失败','error');
							});
							 //获取上传文件的对列
							 var queue = uploader.get('queue');
						      //设置文件的回显
							//获取上传文件的对列
						      var queue = uploader.get('queue');
						      var name = '{$way.image_uri}';
								var item;
								if(name){
									item = [{success: true, name: name, ext:'.jpg', file:name}]
								}else{
									item = '';
								}

							      queue.setItems(item);	
						  });
</script>
<body>
	</html>
