<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="keywords" content="西湖,杭州西湖">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" >
    <title>杭州西湖</title>
    <link href="css/index.css" rel="stylesheet" type="text/css">
</head>
<body>

    <div class="login">
        <div>
            <div>
                坐席工号：<input id="cshgh" type="text" value='142'/>
            </div>
            <div>
                坐席电话：<input id="cshdh" type="text" value='8003'/>
            </div>
            <div>
                主MCP/CCS地址:<input id="cship" type="text" value='192.168.2.239'/>
            </div>
            <div>
                备MCP/CCS地址:<input id="bcship" type="text" value=''/>
            </div>
        </div>
        <div>
            <div colspan="4" align='center'>
                <input id='sfqrsm' type="checkbox" checked/>签入后立刻示忙
                <input id="sfzdgz" type="checkbox" checked/>通话后不进入工作态
                <input id="sfzdyd" type="checkbox" checked/>是否自动应答
            </div>
        </div>
        <div align="center">
            <div colspan="4">
                <input id="cshbt" type="button" value="初始化" onclick="checkcsh();"/>
            </div>
        </div>
    </div>
    <div class="">
    <div class="top"></div>
    <div class="center">
        <div class="left">

        </div>
        <div class="right">
            
        </div>
    </div>
    </div>
</body>
<script src="js/jquery.js?{$js_version}"></script>
<script src="js/index.js?{$js_version}"></script>
</html>