/* reset */
* {
  padding: 0;
  margin: 0;
  list-style: none;
  font: 12px/1.85em 'microsoft yahei';
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  text-decoration: none;
  font-weight: normal;
  border: none;
  outline: none;
}
body,
html {
  position: relative;
  width: 100%;
  height: 100%;
}
.web-bar {
  z-index: 100;
  position: relative;
}
.label-1 {
  background: url(../img/icon-label.png) -26px 0;
}
.label-2 {
  background: url(../img/icon-label.png) 0 0;
}
.label-3 {
  background: url(../img/icon-label.png) -52px 0;
}
.label-4 {
  background: url(../img/icon-label.png) -78px 0;
}
.label-5 {
  background: url(../img/icon-label.png) -104px 0;
}
.aside {
  width: 250px;
  color: #4a4a4a;
  padding: 20px 10px;
  box-shadow: 1px 0px 8px #cdcdcd;
  position: absolute;
  height: 100%;
  padding-top: 90px;
  z-index: 10;
  top: 0;
  left: 0;
  transition: all 0.3s;
  background-color: #fff;
  /* override iScroll */
}
.aside .cnt {
  height: 100%;
  padding-top: 45px;
  position: relative;
}
.aside .cnt .scroll {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.aside h2 {
  font-size: 18px;
  font-weight: 400;
  text-indent: 10px;
  position: absolute;
  left: 0;
  background-color: #fff;
  width: 100%;
  z-index: 11;
  padding-left: 10px;
}
.aside h3 {
  font-size: 16px;
  font-weight: 400;
  text-indent: 10px;
  cursor: pointer;
}
.aside h3:after {
  content: " ";
  background: url(../img/icon.png) no-repeat;
  background-position: 0 0;
  float: right;
  width: 11px;
  height: 5px;
  display: block;
  position: relative;
  top: 15px;
  right: 15px;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}
.aside li {
  font-size: 14px;
  padding: 1em 0;
  text-indent: 2em;
  cursor: pointer;
  transition: all 0.3s;
}
.aside li.select,
.aside li:hover {
  color: #3f89ec;
}
.aside .item {
  margin-bottom: 1em;
  border-top: 1px solid #e5e5e5;
  padding-top: 1em;
}
.aside .item.select h3:after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.aside .item:last-of-type {
  padding-bottom: 1em;
}
.aside .expand {
  position: absolute;
  width: 20px;
  height: 64px;
  right: -30px;
  top: 50%;
  margin-top: -32px;
  box-shadow: 2px 0px 4px #cdcdcd;
  background: url(../img/icon.png) no-repeat;
  background-color: #fff;
  background-position: 5px -32px;
}
.aside .iScrollVerticalScrollbar {
  right: -2px !important;
}
.aside .iScrollIndicator {
  background-color: #e5e5e5!important;
}
/* ani */
body.full .aside {
  left: -250px;
}
body.full .aside .expand {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  box-shadow: -2px 0px 4px #cdcdcd;
}
@-webkit-keyframes ani-show {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  10% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes ani-show {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  10% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  80% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
.map {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-top: 60px;
  padding-left: 250px;
  transition: padding 0.3s;
  /* icon 样式 */
}
.map .wrap {
  position: relative;
  width: 100%;
  height: 100%;
}
.map div#j_map_container {
  position: relative;
  width: 100%;
  height: 100%;
}
.map .cat {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 105px;
  background-color: #fff;
  box-shadow: 0 0 5px #cdcdcd;
  border-radius: 15px;
}
.map .cat h3 {
  height: 35px;
  line-height: 35px;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 1px 5px #cdcdcd;
  border-radius: 15px;
}
.map .cat h3:after {
  content: " ";
  background: url(../img/icon.png) no-repeat;
  background-position: 0 0;
  float: right;
  width: 11px;
  height: 5px;
  display: block;
  position: relative;
  top: 15px;
  right: 15px;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}
.map .cat.active h3:after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.map .cat ul {
  text-align: center;
  overflow: hidden;
}
.map .cat li {
  padding: 10px 12px;
  font-size: 13px;
  transition: all 0.3s;
  border-top: 1px dashed #e5e5e5;
  cursor: pointer;
}
.map .cat li:first-child {
  border-top: none;
}
.map .cat li.select,
.map .cat li:hover {
  color: #3f89ec;
}
.map .maps-label {
  position: absolute;
  cursor: pointer;
  -webkit-animation: ani-show 0.7s ease 0s;
          animation: ani-show 0.7s ease 0s;
}
.map .maps-label i {
  width: 26px;
  height: 32px;
  display: block;
}
.map .maps-label span {
  display: none;
}
.map .maps-popup {
  position: absolute;
  width: 280px;
  background-color: #fff;
  box-shadow: 0 0 10px #cdcdcd;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  min-height: 350px;
  cursor: default;
  z-index: 11;
}
.map .maps-popup h3 {
  font-size: 15px;
  margin-bottom: 8px;
  text-align: left;
}
.map .maps-popup p {
  margin: 1em 0;
  color: #9f9e9e;
  text-align: left;
}
.map .maps-popup .maps-popup-arrow {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #fff;
  box-shadow: -1px 1px 3px #cdcdcd;
  left: -5px;
  top: 50%;
  margin-top: -5px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=-0.70710678, M21=0.70710678, M22=0.70710678);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=-0.70710678, M21=0.70710678, M22=0.70710678)";
}
.map .maps-popup .maps-popup-close {
  position: absolute;
  right: 5px;
  top: 3px;
  font-size: 18px;
  color: #ccc;
  padding: 0 5px;
  cursor: pointer;
}
.map .maps-popup .maps-popup-close:hover {
  color: #666;
}
.map .maps-popup .maps-popup-thumb {
  width: 260px;
  height: 180px;
  background: url('') center center / cover no-repeat;
}
.map .maps-popup .maps-popup-cnt {
  color: #999;
  height: 100px;
  overflow-y: auto;
  text-align: left;
}
.map .maps-popup a.button {
  background-color: #3f89ec;
  text-align: center;
  padding: 5px 2em;
  font-size: 14px;
  border-radius: 14px;
  color: #ffffff;
  margin-top: 15px;
  display: inline-block;
}
body.full .map {
  padding-left: 0;
}
