<!DOCTYPE HTML>
<html>
 <head>
  <title> 搜索表单</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
     <link href="/assets/css/bs3/dpl-min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/bs3/bui-min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/page-min.css" rel="stylesheet" type="text/css" />  
        <link href="/assets/css/hqtec.css" rel="stylesheet">
   <style type="text/css">
    code {
      padding: 0px 4px;
      color: #d14;
      background-color: #f7f7f9;
      border: 1px solid #e1e1e8;
    }
   </style>
 </head>
 <body>
  
  <div class="container">
    <div class="row">
      <form id="searchForm" class="form-horizontal">
        <div class="row">
        
          <input name="module" type="hidden" value="2"/>
            	
  
        
          <div class="control-group span8">
            <label class="control-label">编号：</label>
            <div class="controls">
              <input type="text" class="control-text" name="id">
            </div>
          </div>
          <div class="control-group span8">
            <label class="control-label">标题：</label>
            <div class="controls">
              <input type="text" class="control-text" name="title">
            </div>
          </div>
         
          
        <!-- </div>
        <div class="row"> -->
          <div class="control-group span14">
            <label class="control-label">起止时间：</label>
            <div class="bui-form-group controls" data-rules="{dateRange : true}">
              <input type="text" class=" calendar calendar-time" name="start_time"><span> - </span><input name="end_time" type="text" class=" calendar calendar-time">
            </div>
          </div>
          <div class="span3 offset2">
            <button  type="button" id="btnSearch" class="button button-primary">搜索</button>
          </div>
        </div>
      </form>
    </div>
    <div class="search-grid-container">
      <div id="grid"></div>
    </div>
  </div>
  <script type="text/javascript" src="/assets/js/jquery-1.8.1.min.js?{$js_version}"></script>
  <script type="text/javascript" src="/assets/js/bui-min.js?{$js_version}"></script>


  <script type="text/javascript" src="/assets/js/config-min.js?{$js_version}"></script>
  <script type="text/javascript">
    BUI.use('common/page');
  </script>
<script type="text/javascript">

  BUI.use(['common/search','bui/overlay'],function (Search,Overlay) {
    
  //  var enumObj = {"1":"男","0":"女"},
      columns = [
          {title:'编号',dataIndex:'id',width:100,renderer:function(v,obj){
            return Search.createLink({
              id : 'detail' + v,
              title : '审核评论信息',
              text : v,
              href : '/Comment/admin/index_update/id/'+ obj.id+'/module/'+obj.module
            });
          }},
          {title:'照片描述',dataIndex:'description',width:400,sortable: false},
          {title:'评论者',dataIndex:'creater_name',width:100,sortable: false},
          {title:'点赞数',dataIndex:'support_num',width:100,sortable: true},
          {title:'审核状态',dataIndex:'status',width:100,sortable: false},
          {title:'操作',dataIndex:'',width:100,sortable: false,renderer : function(value,obj){
            var editStr =  Search.createLink({ //链接使用 此方式
                id : 'editComment' + obj.id,
                title : '审核评论信息',
                text : '审核',
                href : '/Comment/admin/index_update/id/'+ obj.id+'/module/'+obj.module
              }),
            	// delStr = '<span class="grid-command btn-del" title="删除">删除</span>';//页面操作不需要使用Search.createLink
            delStr='';
            	return editStr+delStr ;
          }}
        ],
      //store = Search.createStore('../data/student.json'),
      store = Search.createStore('index.json',{remoteSort: true}),
    
      gridCfg = Search.createGridCfg(columns,{
        tbar : {
          items : [
           // {text : '<i class="icon-plus"></i>新建',btnCls : 'button button-small',handler:function(){window.location.href='/Info/admin/index_add';}},
           // {text : '<i class="icon-edit"></i>编辑',btnCls : 'button button-small',handler:function(){alert('编辑暂时无效！');}},
           // {text : '<i class="icon-remove"></i>删除',btnCls : 'button button-small',handler : delFunction}
          ]
        },
        plugins : [BUI.Grid.Plugins.CheckSelection] // 插件形式引入多选表格
      });

    var  search = new Search({
        store : store,
        gridCfg : gridCfg
      }),
      grid = search.get('grid');
    //删除操作
    function delFunction(){
      var selections = grid.getSelection();
      delItems(selections);
    }

    function delItems(items){
      var ids = [];
      BUI.each(items,function(item){
        ids.push(item.id);
      });

      if(ids.length){
        BUI.Message.Confirm('确认要删除选中的记录么？',function(){
          $.ajax({
            url : 'index_delete',
            dataType : 'json',
            data : {ids : ids , "action":"delete"},
            success : function(data){
              if(data.status){ //删除成功
            	  BUI.Message.Alert('删除成功！');
                search.load();
              }else{ //删除失败
                BUI.Message.Alert('删除失败！');
              }
            }
        });
        },'question');
      }
    }

    //监听事件，删除一条记录
    grid.on('cellclick',function(ev){
      var sender = $(ev.domTarget); //点击的Dom
      if(sender.hasClass('btn-del')){
        var record = ev.record;
        delItems([record]);
      }
    });
  });
</script>

</body>
</html>  
