body,html{
    background-color: #eee6dd;


}
body{

    width: 100%;
    position: relative;
}
.top{
    z-index: 9999;
    width: 1016px;
    height: 120px;
    margin: 0 auto;
    position: relative;
    background: url(/static/Desktop/Img/wh/top.png) center bottom no-repeat;
}

/*.top>a{*/
    /*width: 139px;*/
    /*height: 36px;*/
    /*position: absolute;*/
    /*left:50%;*/
    /*top:52px;*/
    /*margin-left: -380px;*/
    /*background: url(/static/Desktop/Img/logo.png) center top no-repeat;*/
/*}*/
.search-boxs{
    position: absolute;
    right: 130px;
    top:20px;

}
.search-box{

    border-radius: 30px;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    background-color: #fff;
    padding-right: 30px;

}
.search{
    display: block;
    width: 200px;
    height: 30px;
    outline: none;
    border: 0;
    padding-left: 20px;
    border: 0;

}
.submit-search{
    width: 30px;
    height: 30px;
    position: absolute;
    right: 0;
    top:0;
    background-image: url(/static/Desktop/Img/wh/ss.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}
.search-list{
    z-index: 999;
    width: 250px;
    margin-top: 2px;

}
.search-list>a{
    display: block;
    height: 30px;
    line-height: 30px;
    width: 220px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    margin-left: 10px;
    padding-left: 10px;
}
.tag{
    overflow: hidden;
    width: 1050px;
    margin: 20px auto;

}
.tag>div{
    width: 150px;
    height: 49px;
    line-height: 49px;
    text-align: center;
    float: left;
    background: url(/static/Desktop/Img/wh/tag.png) center center no-repeat;
    cursor: pointer;
}
.tag>div.check{
    background: url(/static/Desktop/Img/wh/tags.png) center center no-repeat;
}
.main{
    background: url(/static/Desktop/Img/wh/whbg.jpg) center top repeat-y;
    padding-bottom: 20px;
}
.wh-list{
    width: 1029px;
    margin: 0 auto;
}
.wh-item{
    width: 1029px;
    height: 485px;
    background: url(/static/Desktop/Img/wh/bar.png) center bottom no-repeat;
}
.wh{
    height: 285px;
    width: 210px;
    float: left;
    margin-top: 20px;
    background-repeat: no-repeat;

    background-size: cover;
    background-position: center;
    background-size: cover;
    -ms-behavior: url(/static/Desktop/Public/backgroundsize.min.htc);
    behavior: url(/static/Desktop/Public/backgroundsize.min.htc);
    box-shadow: 0 0 1px #000;
    margin-left:103px;
    display: block;
    position: relative;
    cursor: pointer;
}
.wh:hover{
    box-shadow: 0 0 10px #0366b1;
}
.wh-img{
    background: url(/static/Desktop/Img/wh/shu.png) left top repeat-y;
    height: 285px;
    width: 210px;
    overflow: hidden;
}
.wh-tag{
    position: absolute;
    top:30px;
    right: -7px;
    width: 77px;
    height: 35px;
    line-height: 44px;
    padding-left: 15px;
    box-sizing: border-box;
    background: url(/static/Desktop/Img/wh/tagss.png) left top no-repeat;
}
.wh-name{
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    color: #fff;
    position: absolute;
    width: 100%;
    padding-left: 20px;
    box-sizing: border-box;
    background: url(/static/Desktop/Img/wh/mask_name.png) left top repeat;
    left: 0px;
    bottom:30px;
}
.wh-page{
    width: 100px;
    margin: 0 auto;
    height: 40px;

}
.wh-page>div{
    height: 40px;
    width: 40px;
    cursor: pointer;
    float: left;
}
.last{
    background: url(/static/Desktop/Img/wh/last.jpg) left top repeat;
}
.next{
    background: url(/static/Desktop/Img/wh/next.jpg) left top repeat;
    margin-left: 10px;
}

.bottom{

}