* {
  padding: 0;
  margin: 0;
  list-style: none;
  font: 12px/1.85em 'microsoft yahei';
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  text-decoration: none;
  font-weight: normal;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
footer.loading {
  clear: both;
  text-align: center;
  color: #999;
  padding: 5px;
}
#progress {
  position: fixed;
  z-index: 2147483647;
  /* 2^32*/
  top: 0;
  left: 0;
  width: 0%;
  height: 3px;
  background: #00bf17;
  /*#67CF22;*/
  border-radius: 1px;
  transition: width 500ms ease-out, opacity 500ms linear;
  -ms-transform: translateZ(0);
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  pointer-events: none;
  -webkit-animation: ani-show 0.5s ease-out 0s;
          animation: ani-show 0.5s ease-out 0s;
}
#progress:after {
  content: " ";
  opacity: .6;
  width: 45px;
  right: 0;
  /* clip: rect(0,40px,30px,15px); */
  position: absolute;
  top: 0;
  height: 2px;
  box-shadow: #67CF22 2px 2px 6px 1px;
  border-radius: 100%;
  display: block;
}
#progress.hide {
  opacity: 0;
  width: 0%;
  transition: 1ms;
  -webkit-animation: ani-hide 1s ease-out 0s;
  animation: ani-hide 1s ease-out 0s;
}
@-webkit-keyframes ani-show {
  from {
    width: 0%;
    opacity: 1;
  }
  to {
    width: 60%;
    opacity: 1;
  }
}
@keyframes ani-show {
  from {
    width: 0%;
    opacity: 1;
  }
  to {
    width: 60%;
    opacity: 1;
  }
}
@-webkit-keyframes ani-hide {
  0% {
    width: 60%;
    opacity: 1;
  }
  50% {
    width: 100%;
    opacity: 1;
  }
  90% {
    width: 100%;
    opacity: 0;
  }
  100% {
    width: 0%;
  }
}
@keyframes ani-hide {
  0% {
    width: 60%;
    opacity: 1;
  }
  50% {
    width: 100%;
    opacity: 1;
  }
  90% {
    width: 100%;
    opacity: 0;
  }
  100% {
    width: 0%;
  }
}
/* loading 页*/
.m-loading {
  display: block;
  font-size: 15px;
  color: #999;
  position: absolute;
  width: 100%;
  height: 32px;
  left: 0;
  top: 50%;
  text-align: center;
  margin-top: -16px;
  line-height: 32px;
}
/* 错误页 */
.m-error {
  display: block;
  font-size: 15px;
  color: #bbb;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 32px;
}
.m-error i {
  background: url('data:image/svg+xml;charset=utf-8,<svg viewBox="0 0 120 120" xmlns="http://www.w3.org/2000/svg"><polygon fill="#c9c9c9" points="59.238,3 59.238,28.042 42.514,15.374 "/><g><path fill="#c9c9c9" d="M59.238,12.334c-5.886,0-11.518,1.083-16.716,3.046l5.495,4.162c3.572-0.997,7.332-1.541,11.221-1.541 		c23.012,0,41.666,18.654,41.666,41.666c0,11.624-4.765,22.132-12.441,29.688l4.113,3.906c8.642-8.574,13.995-20.459,13.995-33.595C106.571,33.526,85.38,12.334,59.238,12.334z"/>	<path fill="#c9c9c9" d="M59.238,101.334c-23.012,0-41.666-18.654-41.666-41.667c0-11.542,4.695-21.987,12.277-29.533l-4.111-3.904 c-8.547,8.563-13.833,20.382-13.833,33.437C11.905,85.809,33.097,107,59.238,107c5.795,0,11.344-1.045,16.476-2.951l-5.521-4.182C66.701,100.816,63.03,101.334,59.238,101.334z"/></g><polygon fill="#c9c9c9" points="59.238,91.578 59.238,116.621 75.963,103.953 "/></svg>') center center no-repeat;
  margin: 40px 0 40px;
  width: 100%;
  display: block;
  height: 120px;
}
.m-error span {
  width: 100%;
  text-align: center;
  display: block;
  height: 32px;
}
@-webkit-keyframes ani-star {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.382);
            transform: scale(1.382);
    opacity: 0.618;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes ani-star {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.382);
            transform: scale(1.382);
    opacity: 0.618;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@-webkit-keyframes ani-left {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes ani-left {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}
.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
  opacity: 0;
  transition: all 0.4s;
}
.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 270px;
  margin-left: -135px;
  margin-top: 0;
  text-align: center;
  opacity: 0;
  -webkit-transform: scale(1.185);
      -ms-transform: scale(1.185);
          transform: scale(1.185);
  transition: all 0.4s ease;
  overflow: hidden;
  border-radius: 5px;
}
.modal-overlay.modal-in .modal {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.modal-overlay.modal-out .modal {
  opacity: 0;
  -webkit-transform: scale(0.815);
      -ms-transform: scale(0.815);
          transform: scale(0.815);
}
.modal-inner {
  padding: 15px;
  background: #e8e8e8;
  border-bottom: 1px solid #b5b5b5;
}
.modal-title {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}
.modal .modal-text {
  margin-top: 5px;
  font-size: 13px;
}
.modal-buttons {
  height: 44px;
  overflow: hidden;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal-button {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 5px;
  height: 44px;
  line-height: 44px;
  font-size: 17px;
  text-align: center;
  color: #007aff;
  background: #e8e8e8;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  border-right: 1px solid #b5b5b5;
  -webkit-box-flex: 1;
  -ms-flex: 1;
}
.modal-button:last-child {
  border-right: none;
}
.modal-overlay.modal-in {
  opacity: 1;
}
.modal-overlay.modal-out {
  opacity: 0;
}
body.index {
  background: #eee;
}
body.index .wrap {
  margin: 0 auto;
  position: relative;
  min-width: 320px;
  max-width: 640px;
  padding: 12px;
  padding: 5px;
}
body.index .wrap li {
  min-height: 90px;
  background-color: #fff;
  box-shadow: 0 0 3px 0 #ececec;
  margin-bottom: 12px;
}
body.index .wrap li .thumb {
  height: 90px;
  width: 90px;
  float: left;
  margin-right: 10px;
  background: url('') center center / cover no-repeat;
}
body.index .wrap li h3 {
  font-size: 16px;
  padding: 5px 0;
  color: #333;
}
body.index .wrap li p {
  line-height: 1.8em;
  font-size: 12px;
  color: #666;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
body.index nav {
  box-shadow: 0 0 2px 0 #ececec;
  background: #fff;
  margin-bottom: 10px;
}
body.index nav ul {
  display: table;
  width: 100%;
}
body.index nav li {
  display: table-cell;
  text-align: center;
  padding: 13px 0;
}
body.index nav li a {
  display: block;
  font-size: 15px;
  color: #333;
}
body.index nav li:nth-child(n+2) a {
  border-left: 1px solid #ddd;
}
body.index nav li.select a {
  color: #5e9ddc;
}
body.index footer {
  text-align: center;
  color: #999;
  padding: 5px;
}
body.detail {
  background: #fafafa;
}
body.detail .wrap {
  margin: 0 auto;
  position: relative;
  min-width: 320px;
  max-width: 640px;
  padding: 12px;
  padding: 5px;
}
body.detail .info {
  min-height: 120px;
  background-color: #fff;
  box-shadow: 0 0 3px 0 #ececec;
}
body.detail .info .thumb {
  height: 120px;
  width: 120px;
  float: left;
  margin-right: 15px;
  background: url('') center center / cover no-repeat;
}
body.detail .info h3 {
  font-size: 16px;
  padding: 5px 0;
  color: #333;
}
body.detail .info p {
  line-height: 1.8em;
  font-size: 13px;
  color: #666;
}
body.detail ul.tab {
  display: table;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.1);
  margin-top: 15px;
}
body.detail ul.tab li {
  display: table-cell;
  text-align: center;
  padding: 13px 0;
  font-size: 14px;
  color: #aaa;
}
body.detail ul.tab li:nth-child(n+2) span {
  border-left: 1px solid #ddd;
}
body.detail ul.tab li.select {
  color: #a80000;
  box-shadow: 0 1px 0 #a80000;
}
body.detail section {
  padding: 8px;
  margin-top: 15px;
  color: #333;
  display: none;
}
body.detail section#j_desc {
  background-color: #fff;
  box-shadow: 0 0 3px 0 #ececec;
  padding: 10px;
}
body.detail section.select {
  display: block;
}
body.detail section ul li {
  width: 49%;
  float: left;
  display: block;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.15);
  margin-bottom: 12px;
}
body.detail section ul li:nth-child(odd) {
  margin-right: 2%;
}
body.detail section li i {
  height: 100px;
  background: url('') center center / cover no-repeat;
  display: block;
}
body.detail section li h3 {
  font-size: 14px;
  padding: 5px;
  color: #333;
}
body.detail section li span {
  color: #b60906;
  padding: 5px;
}
body.goods {
  background: #ffffff;
}
body.goods .wrap {
  margin: 0 auto;
  position: relative;
  min-width: 320px;
  max-width: 640px;
  padding: 12px;
  padding: 0;
}
body.goods .thumb img {
  width: 100%;
  display: block;
}
body.goods section {
  padding: 8px;
  color: #888;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}
body.goods section.desc {
  padding-bottom: 54px;
}
body.goods section.desc table {
  width: 100% !important;
}
body.goods section.desc img {
  width: 100%;
}
body.goods section h3 {
  font-size: 15px;
  border-left: 2px solid #be1430;
  color: #333;
  padding-left: 6px;
  height: 15px;
  line-height: 15px;
  font-weight: 300;
  margin: 10px 0;
}
body.goods section div.num {
  height: 36px;
  line-height: 36px;
}
body.goods section div.num > span {
  font-size: 15px;
  color: #be1430;
}
body.goods section div.num .counter {
  float: right;
}
body.goods section div.num .counter strong {
  display: inline-block;
  height: 36px;
  line-height: 36px;
  font-size: 15px;
  color: #be1430;
  margin-right: 6px;
}
body.goods section div.num .counter > span {
  box-shadow: 0 0 3px 0 #ececec;
  display: inline-block;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
body.goods section div.num .counter > span > * {
  display: inline-block;
  width: 36px;
  line-height: 36px;
  text-align: center;
  cursor: pointer;
  background-color: #fff;
}
body.goods section div.num .counter > span > span {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
body.goods footer {
  margin: 0 auto;
  position: relative;
  min-width: 320px;
  max-width: 640px;
  padding: 12px;
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 0;
}
body.goods footer button {
  width: 100%;
  padding: 0.6em 0;
  font-size: 15px;
  background-color: #85c46f;
  border-bottom: 1px solid #4a6d3e;
  color: #fff;
  padding: 0;
  background-color: #ba2a29;
  border-bottom: none;
}
body.goods footer button a {
  color: #fff;
  font-size: 15px;
  padding: 0.6em 0;
  display: block;
}
body.goods section.pay {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  transition: all 0.3s;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #efefef;
  padding: 0;
}
body.goods section.pay .header {
  padding: 50px 0;
  text-align: center;
  box-shadow: 0 0 5px 0 #ececec;
  background-color: #fff;
  margin-bottom: 25px;
  font-size: 18px;
}
body.goods section.pay .header strong {
  font-size: 28px;
  color: #be1430;
}
body.goods section.pay .info {
  padding: 10px 15px;
  background-color: #fff;
  box-shadow: 0 0 5px 0 #ececec;
}
body.goods section.pay .info > div {
  padding: 10px 0;
}
body.goods section.pay .info > div:nth-of-type(n+2) {
  border-top: 1px solid #e5e5e5;
}
body.goods section.pay .info > div em {
  float: left;
  font-size: 15px;
}
body.goods section.pay .info > div span {
  color: #333;
  text-align: right;
  display: block;
  font-size: 15px;
}
body.goods section.pay .footer {
  position: absolute;
  bottom: 15px;
  width: 100%;
  padding: 0 15px;
}
body.goods section.pay .footer button {
  width: 100%;
  padding: 0.6em 0;
  font-size: 15px;
  background-color: #85c46f;
  border-bottom: 1px solid #4a6d3e;
  color: #fff;
  background-color: #ba2a29;
  border-bottom: none;
}
body.goods section.pay.active {
  -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
          transform: translateX(0%);
}
.pano_btn{
  background-color: #3f89ec;
  text-align: center;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 8px;
  color: #ffffff;
}
