.main{
    width: 1000px;
    margin: 0 auto;
    margin-top: 20px;
}
.content{

    margin: 0 auto;
}
.content-list{
    background-color: #fff;
    border-radius: 3px;
    opacity: 0.9;
    color: #000;
    overflow: hidden;
    width: 1000px;
    margin: 0 auto;

}
.order-item{
    float: left;
    height: 42px;
    line-height: 42px;
    width: 100px;
    text-align: center;
    cursor: pointer;
}
.order-item.checked{
    float: left;
    height: 42px;
    line-height: 42px;
    width: 100px;
    text-align: center;
    cursor: pointer;
    color: #fff;
    background-color: #3f89ec;
}
.oreder-release{
    float: right;
    width: 120px;
    border-radius: 3px;
    height: 32px;
    line-height: 32px;
    margin-top: 5px;
    margin-right: 10px;
    text-align: center;
    color: #fff;
    background-color: #3f89ec;
    cursor: pointer;
}


.photo-list{


    margin: 0 auto;


}
.photo-falls{
    width: 25%;
    float: left;
    box-sizing: border-box;


}
.photo-item{
    width: 96%;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 0 1px #333;
    margin: 0 auto;
    margin-bottom: 20px;
}
.photo-img{
    width: 100%;
}
.photo-img>img{
    display: block;
    width: 100%;
}
.photo-content{
    box-sizing: border-box;
    padding: 10px;
    overflow: hidden;
}
.photo-tool{
    padding: 10px;
    overflow: hidden;
}
.del{
    float: right;

    cursor: pointer;
}
.del:before{
    content: '';
    padding: 5px 7px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/static/Desktop/Img/user/del.png);
    background-position: center;

}
.zan{
    float: left;
    color: #6c8ab1;
    cursor: pointer;
}
.zan:before{
    content: '';
    padding: 5px 8px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/static/Desktop/Img/index/xin.png);
    background-position: center;
    margin-right: 5px;
}
.pl{
    float: left;
    color: #6c8ab1;
    margin-left: 10px;
}
.pl:before{
    content: '';
    padding: 5px 8px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(/static/Desktop/Img/index/pl.png);
    background-position: center;
    margin-right: 5px;
}



.next{
    width: 830px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    margin: 20px auto;
    border-radius: 2px;
    box-shadow: 0 0 2px #333;
    color: #333;
    cursor: pointer;
}