
<!DOCTYPE HTML>
<html>
 <head>
  <title> 资讯添加</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
       <link href="/assets/css/bs3/dpl-min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/bs3/bui-min.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/page-min.css" rel="stylesheet" type="text/css" />  
    <link href="/assets/css/hqtec.css" rel="stylesheet"> 
   <style type="text/css">
    code {
      padding: 0px 4px;
      color: #d14;
      background-color: #f7f7f9;
      border: 1px solid #e1e1e8;
    }
   </style>
 </head>
 <body>
  
  <div class="container">
    <form id ="J_Form" class="form-horizontal" action='/Culture/News/news_add_json' method='post'>
      <h3>资讯信息</h3>
      <div class="row">
       <div class="control-group span12">
          <label class="control-label">资讯标题：</label>
          <div class="controls">
            <input type="text" id="title" name='TITLE'  value='' class="input-change">
          </div>
        </div>
	 </div>
	 
	 <div class="row">
       <div class="control-group span12">
          <label class="control-label">全景URL：</label>
          <div class="controls">
            <input type="text" name='URL'  value='' class="input-change">
          </div>
        </div>
	 </div>
      
     <div class="row">
     	 <div class="control-group span24">
		    <label class="control-label">缩略图：</label>
		   	 <div class="control-group span12">
		      <div id="J_Uploader" >
		      	<input type='hidden' id='IMG' name='THUMBNAILS' value='' >	      	
		      </div>
		     </div>
    	</div>
    </div>
    <div class="row">
     	 <div class="control-group span24">
		    <label class="control-label">组图：</label>
		   	 <div class="control-group span12">
		      <div id="G_Uploader" >
		      	<input type='hidden' id='IMG2' name='MAINIMG' value='' >	      	
		      </div>
		     </div>
    	</div>
    </div>
    
     <div class="row"   >
        <div class="control-group span24" style="margin-top:5px;">
          <label class="control-label">内容：</label>
         <div class="controls" style='height: auto;margin-bottom: 15px;'>
       		 <script id="container" name="CONTENT" type="text/plain" style="width:700px;height:250px;"></script>
		</div>
        </div>
    </div>  
    
  
    <div class="row">
     	 <div class="control-group span24" style="margin-top:5px;">
		    <label class="control-label">分类：</label>
		   	<div class="controls">
		   		 <select name="CATEGORYID" class="input-change"> 
            		 <foreach name = "cate" item= "v">
              			<option value="{$v['id']}">{$v["name"]}</option>
           			 </foreach>
            	 </select>
          	</div>
    	</div>
    </div>
    
   <!--     
    
        <div class="row">
       <div class="control-group span12">
          <label class="control-label">景点分布：</label>
          <div class="controls">
            <input type="text" id='secnery' name='SCENERY' class="control-text" value="{$list.title}" >
          </div>
        </div>
	 </div> -->
    
     <div class="row">
    	<div class="control-group span12">
          <label class="control-label">发布者</label>
          <div class="controls">
            <input type="text" name='WRITER' class="input-change" value='' >
          </div>
        </div>
     </div>
      <div class="row">    	
	     <input type="hidden" id="time" name='DATATIME' value=""  >        
     </div>
     
     </div>
      <hr/>   
      
      <div class="row">
        <div class="form-actions offset3 offset3new">
        
         
          <button type="submit" class="button button-save">保存</button>
          <button type="reset" class="button button-reset">重置</button>
        </div>
      </div>
    </form>

       <!-- 配置文件 -->
   	<script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.config.js?{$js_version}"></script>
    <!-- 编辑器源码文件 -->
    <script type="text/javascript" charset="utf-8" src="/ueditor/ueditor.all.min.js?{$js_version}"> </script>
    <!-- 实例化编辑器 -->
    <script type="text/javascript">
        var editor = UE.getEditor('container');
       
    </script>   
    
    
    
  <script type="text/javascript" src="/assets/js/jquery-1.8.1.min.js?{$js_version}"></script>
  <script type="text/javascript" src="/assets/js/bui-min.js?{$js_version}"></script>

  <script type="text/javascript" src="/assets/js/config-min.js?{$js_version}"></script>
  <script type="text/javascript">
    BUI.use('common/page');
  </script>
  <script type="text/javascript">
    BUI.use('bui/form',function (Form) {
      var form = new Form.HForm({
        srcNode : '#J_Form'
      }).render();
    });
  </script>
  	<script type="text/javascript">
		BUI.use('bui/form', function(Form) {
			new Form.HForm({
				srcNode : '#J_Form',
				submitType : 'ajax',
				callback : function(data) {
					if (data.status == 1) {
						BUI.Message.Alert('添加成功',function(){
							top.topManager.closePage();
							window.location.href = data.url;
						},'success');
						
						
					} else {
						if(data.status ==2){
							BUI.Message.Alert(data.msg,'error');
						}else if(data.status ==3){
							BUI.Message.Alert(data.msg,'error');							
						}else{
							BUI.Message.Alert(data.msg,function(){
								window.location.href = data.url;
							},'error');
							
						}
						
					}
					
				}
			}).render();

		});
	</script>
 <script>
 $(function(){

	 	var date = new Date();
	    var seperator1 = "-";
	    var seperator2 = ":";
	    var month = date.getMonth() + 1;
	    var strDate = date.getDate();
	    if (month >= 1 && month <= 9) {
	        month = "0" + month;
	    }
	    if (strDate >= 0 && strDate <= 9) {
	        strDate = "0" + strDate;
	    }
	    var currentdate = date.getFullYear() + seperator1 + month + seperator1 + strDate
	            + " " + date.getHours() + seperator2 + date.getMinutes()
	            + seperator2 + date.getSeconds();
	 /*alert(t);*/
	 $("#time").val(currentdate);
/* 	 $("#time").load("Untitled-1.html");  */
	 });
</script>
  
  <!-- //img图片上传 处理的js    开始 --> 
<script type="text/javascript">
     BUI.use('bui/uploader',function (Uploader) {  
      //添加自定义主题
      
      Uploader.Theme.addTheme('imageView', {
        elCls: 'imageViewTheme',
        //可以设定该主题统一的上传路径
       // url: '../../../test/upload/upload.php',
      	url: 'http://{$httphost}/index.php/Gis/admin/upload/',
        queue:{
          //结果的模板，可以根据不同状态进进行设置
          resultTpl: {
            'default': '<div class="default">{name}</div>',
            'success': '<div class="success"><img style="width: 100%;height: 100%;" src="/upload/{file}" /></div>',
            'error': '<div class="error"><span class="uploader-error">{msg}</span></div>',
            'progress': '<div class="progress"><div class="bar" style="width:{loadedPercent}%"></div></div>'
          },  listeners : {
                itemremoved: function(ev){
                    $("#image").attr("src","");
                    $("#IMG").val('');
                }
            }
        }
      });
 
      var uploader = new Uploader.Uploader({
        //指定使用主题
        theme: 'imageView',
        render: '#J_Uploader',
        //不设时使用主题配置的上传路径
       // url: '../../../test/upload/upload.php'
        url: 'http://{$httphost}/index.php/Gis/admin/upload/',
        //上传成功时触发
  	 	isSuccess: function(result){
	           if(result.status && result.file){
	        	   $("#IMG").val(result.file);
	        	   var file=result.file;
	        	   
	        	   if(file.indexOf('http://')<0){	  
	           		   /* file='/upload/'+file; */
	           			$('#IMG').val(file);
	           	       result.file=file;
	           	       
	       		  	}
	             return true;
	           }
	           return false;
        }
      }).render();
    
    //上传失败时会触发
		uploader.on('error', function(ev) {
			var result = ev.result;
			if(result.info){
				
				BUI.Message.Alert('上传失败：'+result.info,'error');
			}else{
				
				BUI.Message.Alert('上传失败：','error');
			}
			
		});
//上传文件改变时
         uploader.on('change', function (ev) {
             var items = ev.items;
             var queue=uploader.get('queue');
             for (var i in items) {
                 if (items[i].error == true) {
                     queue.clearItems();
                     BUI.Message.Alert(items[i].name + items[i].msg,'error');
                 }else{
                     queue.setItems([items[i]]);
                 }
             }
         });
    //获取上传文件的对列
      var queue = uploader.get('queue');
      //设置文件的回显
    //  var file='{$data.img}';
      //if(file.indexOf('http://')<0){
    	  
    	//	file=file;	 
	//  }
    /*   queue.setItems([
        {success: true, name: "{$data.img}",ext:'.jpg', file:file}
      ]);	 */
    
    });
    </script>	
  <!-- //img2图片上传 处理的js    开始 --> 
<script type="text/javascript">
BUI.use('bui/uploader',function (Uploader2) {  
    //添加自定义主题
    
    Uploader2.Theme.addTheme('imageView', {
      elCls: 'imageViewTheme',
      //可以设定该主题统一的上传路径
     // url: '../../../test/upload/upload.php',
    	url: 'http://{$httphost}/index.php/Gis/admin/upload/',
      queue:{
        //结果的模板，可以根据不同状态进进行设置
        resultTpl: {
          'default': '<div class="default">{name}</div>',
          'success': '<div class="success"><img style="width: 100%;height: 100%;" src="/upload/{file}" /></div>',
          'error': '<div class="error"><span class="uploader-error">{msg}</span></div>',
          'progress': '<div class="progress"><div class="bar" style="width:{loadedPercent}%"></div></div>'
        },  listeners : {
              itemremoved: function(ev){
                  $("#mainimg").attr("src","");
                  $("#IMG2").val('');
              }
          }
      }
    });

    var uploader2 = new Uploader2.Uploader({
      //指定使用主题
      theme: 'imageView',
      render: '#G_Uploader',
      //不设时使用主题配置的上传路径
     // url: '../../../test/upload/upload.php'
      url: 'http://{$httphost}/index.php/Gis/admin/upload/',
      //上传成功时触发
	 	isSuccess: function(result){
	           if(result.status && result.file){
	        	   $("#IMG2").val(result.file);
	        	   /* var file2=result.file;
	        	   if(file2.indexOf('http://')<0){	  
	           		   file2='http://static.logomap.com/upload/'+file2;	
	           	       result.file=file2;
	       		  } */
	             return true;
	           }
	           return false;
      }
    }).render();
    //上传文件改变时
    uploader2.on('change', function (ev) {
        var items = ev.items;
        var queue=uploader.get('queue');
        for (var i in items) {
            if (items[i].error == true) {
                queue.clearItems();
                BUI.Message.Alert(items[i].name + items[i].msg,'error');
            }else{
                queue.setItems([items[i]]);
            }
        }
    });
  //上传失败时会触发
		uploader2.on('error', function(ev) {
			var result = ev.result;
			if(result.info){
				
				BUI.Message.Alert('上传失败：'+result.info,'error');
			}else{
				BUI.Message.Alert('上传失败：','error');
			}
			
		});

  });
    </script>
   <!-- //img图片上传 处理的js    结束 --> 
   	
	
</body>
</html>  